<div class="container">
  <div  *ngFor="let pub of publicacoes">
    <div class="col-lg-6 col-lg-offset-3 col-sm-12 col-md-8 col-md-offset-2">
      <div class="panel panel-default">
        <div class="panel-heading ph2">
          <h3 class="panel-title">Publicação de <strong>{{pub.getNome()}}</strong></h3>
        </div>
        <div class="panel-body">
          <p>{{pub.getMsg()}}</p>
          <hr />
          <div>
            <p class="p1 text-left">
              <a href="#"><i class="material-icons">favorite</i></a>
              <a href="#"><i class="material-icons">favorite_border</i></a>
            </p>
            <p class="p2 text-right">
              <a href="#" class="linksThumb"><i class="material-icons">favorite</i> 0 Curtidas</a>
              <a href="#" class="linksThumb"><i class="material-icons">mode_comment</i> {{pub.getSizeComentario()}} Comentários</a>
              <a href="#" class="linksThumb"><i class="material-icons">share</i> Compartilhar</a>
            </p>
          </div>
          <br />
          <div id="painelComentarios" *ngIf="pub.getSizeComentario()>0">
            <h5 class="h5">Comentários</h5>
            <ul class="media-list">
              <li class="media" *ngFor="let comentario of pub.getComentarios()">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="https://www.shareicon.net/data/64x64/2016/07/29/803598_user_512x512.png" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading">{{comentario.getNome()}}</h4>
                  {{comentario.getMsg() }}
                </div>
              </li>
            </ul>
          </div>
          <div class="row">
            <br />
            <form class="form-inline frmNovoComentario">
              <input type="text" placeholder="Deixe uma mensagem" class="form-control" />
              <button type="button" class="btn btn-primary" id="btnComentar">Comentar</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
