

.linksThumb {
  font-size: .8em;
  padding-left:10px;
}

.linksThumb i {
    font-size: .9em;
}


.panel-heading {
  background-color:#CFF09E;
}

.p1 { float: left; }
.p2 { float: right; }


#painelComentarios {
  margin-top:20px;
}

.frmNovoComentario {
  margin-left:20px;
}
