
#superbar {
  background-color: #0B486B;
  color:#ffffff;
}

.ancora {
  color:#FFFFFF;
  font-weight: bold;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    background-color:#CFF09E;
    color:#3B8686;
}

#frmPesquisa{
        float: left;
        background-color: white;
        padding: 0px 3px 0px 0px;
        border-radius: 4px;
        margin-left: 20px;
        position: relative;
        top: 4px;
}

#pesquisa {
        width: 550px;
        padding: 5px;
        border: none;
        outline: none;
        border-radius: 4px;
        color:#000;
        font-size: 14pt;
}

#btnPesquisar {
        background-color: #CFF09E;
        border: none;
        padding: 5px;
        outline: none;
        border-radius: 4px;
        color:#0B486B;
}
