<nav id="superbar" class="navbar navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li> <a class="ancora" href="#">Página Inicial</a> </li>
            <li>
              <form id="frmPesquisa" action="#" method="get">
                <input type="search" id="pesquisa" placeholder="Procurar por..." />
                <button type="button" id="btnPesquisar"><i class="material-icons">search</i></button>
              </form>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><a class="ancora" href="#">Perfil</a></li>
            <li><a class="ancora" href="#">Antônio José</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
