
#areaPublicacao {
  margin-top:70px;
}

#areaTexto {
  border: 0px #FFF solid;
}

.flutuante {
  float:right;
  margin-left:10px;
}

#rodapeAreaPublicacao {
  overflow: auto;
}

.panel-title{
  font-weight: bold;
  color:#0B486B;
}

.panel-heading {
  background-color:#CFF09E;
}
