<div class="container">
  <div id="areaPublicacao" class="col-lg-6 col-lg-offset-3 col-sm-12 col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Nova Publicação</h3>
      </div>
      <div class="panel-body">
        <form id="formNovaPublicacao" class="form form-group">
          <textarea id="areaTexto" class="form-control" placeholder="O que você está pensando?"></textarea>
        </form>
      </div>
      <div id="rodapeAreaPublicacao" class="panel-heading">
        <div class="flutuante">
          <button type="button" class="btn btn-primary" id="btnPublicar" (click)="salvar()">Publicar</button>
        </div>
        <div class="flutuante">
          <select class="form-control" id="publicoAtingido">
            <option value="0" selected="true">Público</option>
            <option value="1">Amigos</option>
            <option value="2">Amigos de Amigos</option>
            <option value="3">Privado</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
